[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
psycopg2-binary = "*"
great-expectations = "*"
pyspark = "*"
findspark = "*"
boto3 = "*"
pyyaml = "*"
jinja2 = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.8"
